RichRememberTheMilk/src/RichRememberTheMilk.Silverlight/SampleData/TaskListSampleDataSource/TaskListSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TaskListSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TaskListSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaskListSampleDataSource" type="tns:TaskListSampleDataSource" />
  <xs:complexType name="TaskListSampleDataSource">
    <xs:sequence>
      <xs:element name="Tasks" type="tns:Tasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Tasks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TasksItem" type="tns:TasksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TasksItem">
    <xs:attribute blend:FormatParameters="6,8" name="Description" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="Priority" type="xs:double" />
  </xs:complexType>
</xs:schema>